#include "SoyLib_Osx.xcconfig"


GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_BASE) LIBFREENECT


LINKER_FLAGS = $(inherited) -weak-lusb-1.0.0 -weak-lfreenect.0.5.0

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS_BASE) $(LIBUSB_PATH)/include/ $(LIBFREENECT_PATH)/include/

LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS_BASE) $(LIBUSB_PATH)/lib/ $(LIBFREENECT_PATH)/lib/

//	no 32 bit for libusb/freenect
VALID_ARCHS = x86_64
