//
//  PopApp.xcconfig
//  PopCapture
//
//  Created by Graham Reeves on 12/2/14.
//  Copyright (c) 2014 NewChromantics. All rights reserved.
//

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) TARGET_OSX MATHFU_COMPILE_WITHOUT_SIMD_SUPPORT
HEADER_SEARCH_PATHS = $(inherited) $(SOY_PATH)/src/** $(POP_PATH)/src/** $(CUDA_PATH)/include/ $(LIBUSB_PATH)/include/ $(LIBFREENECT_PATH)/include/ 
LIBRARY_SEARCH_PATHS = $(inherited) $(CUDA_PATH)/lib $(LIBUSB_PATH)/lib/ $(LIBFREENECT_PATH)/lib/


//	gr: not sure what we want for c yet
//GCC_C_LANGUAGE_STANDARD = c11


//	c++11
CLANG_CXX_LANGUAGE_STANDARD = c++0x
CLANG_CXX_LIBRARY = libc++
MACOSX_DEPLOYMENT_TARGET = 10.7


//	universal build by default. 32bit required for unity plugins
ARCHS = $(ARCHS_STANDARD_32_64_BIT)
ONLY_ACTIVE_ARCH = NO

//	latest SDK
//	gr: 10.10 sdk otherwise unity plugin won't (ApplicationServices.framework version incompatibility 1(unity) vs 64)
SDKROOT = macosx


//	manage obj-c auto release ourselves so we can use the pointers in c++ classes
//	ie. without needing @property(strong) NSWindow* window;
//	gr: ARC is 10.7 onwards so won't be availible when targetting 10.6 anyway
CLANG_ENABLE_OBJC_ARC = NO

//	set debug info to dwarf by default for faster build
//	gr: debug with symbols otherwise breakpoints don't work when attaching
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
COPY_PHASE_STRIP = NO


PRODUCT_BUNDLE_IDENTIFIER = NewChromantics.$(PRODUCT_NAME:rfc1034identifier)
PRODUCT_NAME = $(TARGET_NAME)


LD_RUNPATH_SEARCH_PATHS = $(inherited) @rpath/Frameworks
