//
//  PopApp.xcconfig
//  PopCapture
//
//  Created by Graham Reeves on 12/2/14.
//  Copyright (c) 2014 NewChromantics. All rights reserved.
//

GCC_PREPROCESSOR_DEFINITIONS_BASE = $(GCC_PREPROCESSOR_DEFINITIONS) $(inherited) TARGET_IOS
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_BASE)

SOY_PATH = $(SRCROOT)/src/SoyLib

HEADER_SEARCH_PATHS_BASE = $(HEADER_SEARCH_PATHS) $(inherited) $(SOY_PATH)/src/**
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS_BASE)


//	unity compatible settings
VALID_ARCHS = $(ARCHS_STANDARD)
SUPPORTED_PLATFORMS = iphoneos

//	gr: reduce this as much as possible
//	gr: 6 is missing type_traits, maybe other c++11 features.
IPHONEOS_DEPLOYMENT_TARGET = 7.0

//	symbols please!
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
STRIP_INSTALLED_PRODUCT = NO
DEPLOYMENT_POSTPROCESSING = NO
COPY_PHASE_STRIP = NO


//	this is on by default now on unity 5.3 and shouldn't be any harm enabling it for 5.2
ENABLE_BITCODE = YES


//	gr: not sure what we want for c yet
//GCC_C_LANGUAGE_STANDARD = c11

//	gr: about time we switched to 14
//CLANG_CXX_LANGUAGE_STANDARD = c++0x	//	c++11
CLANG_CXX_LANGUAGE_STANDARD = c++17
CLANG_CXX_LIBRARY = libc++

//	no ARC please. See OSX config
CLANG_ENABLE_OBJC_ARC = NO

PRODUCT_BUNDLE_IDENTIFIER = NewChromantics.$(PRODUCT_NAME:rfc1034identifier)
PRODUCT_NAME = $(TARGET_NAME)
