//
//  PopApp.xcconfig
//  PopCapture
//
//  Created by Graham Reeves on 12/2/14.
//  Copyright (c) 2014 NewChromantics. All rights reserved.
//

GCC_PREPROCESSOR_DEFINITIONS = TARGET_OSX MATHFU_COMPILE_WITHOUT_SIMD_SUPPORT
HEADER_SEARCH_PATHS = $(inherited) $(SOY_PATH)/src/** $(POP_PATH)/src/**
//	gr: not sure what we want for c yet
//GCC_C_LANGUAGE_STANDARD = c11

//	c++11
CLANG_CXX_LANGUAGE_STANDARD = c++0x
CLANG_CXX_LIBRARY = libc++
MACOSX_DEPLOYMENT_TARGET = 10.7


//	universal build by default. 32bit required for unity plugins
ARCHS = $(ARCHS_STANDARD_32_64_BIT)

//	latest SDK
SDKROOT = macosx

//	objective C auto reference counting... needed? (need to increase min SDK if we do)
//CLANG_ENABLE_OBJC_ARC = YES

//	set debug info to dwarf by default for faster build
DEBUG_INFORMATION_FORMAT = dwarf


//	manage obj-c auto release ourselves so we can use the pointers in c++ classes
//	ie. without needing @property(strong) NSWindow* window;
CLANG_ENABLE_OBJC_ARC = NO
