//
//  PopApp.xcconfig
//  PopCapture
//
//  Created by Graham Reeves on 12/2/14.
//  Copyright (c) 2014 NewChromantics. All rights reserved.
//

GCC_PREPROCESSOR_DEFINITIONS = TARGET_IOS MATHFU_COMPILE_WITHOUT_SIMD_SUPPORT
HEADER_SEARCH_PATHS = $(inherited) $(SOY_PATH)/src/** $(POP_PATH)/src/**


//	unity compatible settings
ARCHS = armv7
SUPPORTED_PLATFORMS = iphoneos

//	gr: reduce this as much as possible
IPHONEOS_DEPLOYMENT_TARGET = 8.3

//	symbols please!
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
STRIP_INSTALLED_PRODUCT = NO
DEPLOYMENT_POSTPROCESSING = NO
COPY_PHASE_STRIP = NO


