//
//  PopApp.xcconfig
//  PopCapture
//
//  Created by Graham Reeves on 12/2/14.
//  Copyright (c) 2014 NewChromantics. All rights reserved.
//

GCC_PREPROCESSOR_DEFINITIONS = TARGET_IOS MATHFU_COMPILE_WITHOUT_SIMD_SUPPORT
HEADER_SEARCH_PATHS = $(inherited) $(SOY_PATH)/src/** $(POP_PATH)/src/**


//	unity compatible settings
ARCHS = $(ARCHS_STANDARD)
SUPPORTED_PLATFORMS = iphoneos

//	gr: reduce this as much as possible
//	gr: 6 is missing type_traits, maybe other c++11 features.
IPHONEOS_DEPLOYMENT_TARGET = 7.0

//	symbols please!
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
STRIP_INSTALLED_PRODUCT = NO
DEPLOYMENT_POSTPROCESSING = NO
COPY_PHASE_STRIP = NO

//	disabled bitcode for now (incompatibilities with unity ios stuff)
ENABLE_BITCODE = NO


//	no ARC please. See OSX config
CLANG_ENABLE_OBJC_ARC = NO

PRODUCT_BUNDLE_IDENTIFIER = NewChromantics.$(PRODUCT_NAME:rfc1034identifier)
PRODUCT_NAME = $(TARGET_NAME)
